{% load static %}
{% load erdegutallesgut_settings %}
{% load rand_substr %}
{% load webdesign %}

{% egag_get_carousel_images as carousel_images %}

<!DOCTYPE html>
<html lang="de">

<head>

  <!--[if lt IE 9]>
    <script language="JavaScript">
      var e = ("abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(',');
      for (var i = 0; i < e.length; i++) {
        document.createElement(e[i]);
      }
    </script>
  <![endif]-->

  <title>Erde Gut ~ Alles Gut{% block title_extra %}{% endblock title_extra %}</title>

  <meta charset="utf-8">

  <link href="{% static "favicon.png" %}" type="image/png" rel="icon" />

  <script src="{% static "jquery-2.0.3/jquery-2.0.3.min.js" %}"></script>
  <script src="{% static "lightbox/js/lightbox.min.js" %}"></script>
  <script src="{% static "OwlCarousel2-2.2.0/dist/owl.carousel.min.js" %}"></script>

  <link href="{% static "lightbox/css/lightbox.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "OwlCarousel2-2.2.0/dist/assets/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "OwlCarousel2-2.2.0/dist/assets/owl.theme.default.min.css" %}">

  <link href="{% static "egag.css" %}" rel="stylesheet" />

  <style>

  .pagebg-img {
    z-index: -3;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    speak: none; /* screen-readers -> ignore */
  }

  .pagebg-grad {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    opacity: 1.0;
    speak: none; /* screen-readers -> ignore */
  }

  .pagebg-logo {
    z-index: -2;
    position: fixed;
    height: 90%;
    right: 5%; /* 5 + (30 * p1/8) */
    top: 5%;
    margin: 0px;
    border: 0px;
    opacity: 0.5;
  }

  .intro {
    z-index: 100;
    display: none;
    background-color: #00ab69;
    font-color: #000;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right; 0px;
    bottom; 0px;
    color: #a8b50a;
    speak: none; /* screen-readers -> ignore */
  }

  .intro-block {
    /*text-shadow: 0px -2px 30px #000;*/
    position: fixed;
    left: 40%;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .intro-active {
    display: block !important;
  }

  .intro-dot1, .intro-dot2, .intro-dot3 {
    opacity: 0.0;
  }

  .intro-logo {
    opacity: 0.66 !important;
  }

  .holidaymessage {

  }

  .holidaymessagenow {
    color: #f44;
  }

  .egag_address {
    margin: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  </style>

</head>



<body>

<main>

  <div class="sidebar">
    <!--nav class="sidebartop"-->
    <nav class="navlinks">

      <a class="sidebarheader" href="/#noIntro">Erde&nbsp;Gut<br/>~&nbsp;Alles&nbsp;Gut</a>
      <a class="sidebaritem" href="/tagebuch">Tagebuch</a>
      <a class="sidebaritem" href="/produkte">Produkte</a>
      <a class="sidebaritemsmall" href="/spezialangebote">Spezialangebote</a>
    </nav>
    <!--div class="sidebarbottom"-->
    <div class="navlinks">
      Öffnungszeiten
      <ul class="list-unstyled">
        {% egag_shop_hours %}
      </ul>
      {% egag_holiday_warning %}
      <address class="egag_address">{% egag_address %}</address>

      {# carousel #}
      <div class="owl-carousel" style="width: 100%; overflow: hidden;">
        {% for i in carousel_images %}
          <div class="item">
            <a href="{{i.image.url}}" data-lightbox="sidebarcarousel">
              <img class="carouselImage" style="display:block;width:100%;max-width:100%;" src="{{i.image.sidebar.url}}" />
            </a>
          </div>
        {% endfor %}
      </div>


      <div class="sidebarfooter">
        <a href="/impressum">Impressum</a> ~ 
        <a href="/datenschutz">Datenschutz</a> ~
        <a href="http://flausch-productions.com/source-code/erdegut-allesgut">source&nbsp;code</a>

        <div>{%egag_copyright_notice%}</div>
      </div>
    </div>
  </div>

  <div class="content">
    {% block content %}
      {% lorem 10 p %}
    {% endblock content %}
  </div>

  <img class="pagebg-logo" src="{% static "bg/baum-gr-w.png" %}" /> 
  <img class="pagebg-grad" src="{% static "bg/gradient.svg" %}" />
  <img class="pagebg-img" src="{% egag_rnd_bg_img_url %}" />

  <div class="intro">
    <img class="pagebg-logo intro-logo" src="{% static "bg/baum-gr-w.png" %}" /> 
    <div class="intro-block">
      <h1>Erde Gut ~ Alles Gut</h1>
      <h3>Grüß Göttin
        <span class="intro-dot1">.</span><span class="intro-dot2">.</span><span class="intro-dot3">.</span>
      </h3>
    </div>
  </div>

  <script>

    // minor jquery improovemnts
    $.fn.exists = function () {
      return this.length !== 0;
    }

    // transition animations
    var setupAnimation = function(){
      $('.content').css('opacity', '0.0');
      $('.pagebg-img').css('opacity', '0.0');
    };

    var enterAnimation = function(){
      $('.content').animate({opacity: 1.0}, 500);
      $('.pagebg-img').animate({opacity: 1.0}, 500);
    };

    var leaveAnimation = function(){
      $('.content').animate({opacity: 0.0}, 200);
      $('.pagebg-img').animate({opacity: 0.0}, 200);
    };

    var dismissIntroAlreadyExecuted = false;
    var dismissIntro = function(){
      if(!dismissIntroAlreadyExecuted){
        dismissIntroAlreadyExecuted=true;
        setupAnimation();
        $('.intro').animate({
          opacity: 0.0,
          width: 0
        },1000, function(){$('.intro').removeClass('intro-active'); enterAnimation(); $('.intro-logo').css('display','none')});
      }
    };

    // setup intro
    if(window.location.pathname === "/" && !(window.location.hash === "#noIntro")){

      // make intro visible
      $('.intro').addClass('intro-active');

      // install intro click listener
      $('.intro').click(function(){
        dismissIntro();
      });

      // dismiss intro after time intervall
      setTimeout(function(){
        $('.intro-dot1').animate({opacity:1.0},500,function(){
          $('.intro-dot2').animate({opacity:1.0},300,function(){
            $('.intro-dot3').animate({opacity:1.0},200,function(){
              dismissIntro();
            });
          });
        });
      },100*60);
    }

    $("a[href='\/produkte']").click(function(){
      leaveAnimation();
    });

    setupAnimation();
    enterAnimation();
 
    // start the carousel
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        center: true,
        loop: false,
        items: 1,//{{ carousel_images|length }},
        margin: 0,
        autoplay: true,
        autoplayTimeout: 10000,
        autoplayHoverPause: true,
        autoplaySpeed: 1000
      });
    });

  </script>

</main>

</body>
</html>

