{% extends "base.html" %}



{% block title_extra %}
  Tagebuch
{% endblock title_extra %}



{% block content %}
  <h1>Tagebuch</h1>
  {% for diary_entry in diary_entries %}
    <article class="contentitem">
      <h2>{{diary_entry.title}}</h2>
      <p>{{diary_entry.entry|safe}}</p>
      <foot>{{diary_entry.date|date:"d. F, Y"}}</foot>
    </article>
  {% endfor %}
{% endblock content %}
