{% extends "base.html" %}

{% block title_extra %}
  - Produkte
{% endblock title_extra %}

{% block content %}

  {% block product_header %}
    <h1>Produkte</h1>
  {% endblock product_header %}

  {% block product_body %}
    {% if products %}
      {% for product in products %}
        <article class="contentitem">
          {% if product.image %}
            <a href="{{product.image.url}}" data-lightbox="product-{{product.id}}">
              <img class="contentitemimage" src="{{product.image.url}}" />
            </a>
          {% endif %}
          <h3>
            {{ product.name }}
          </h3>
          <p>
            {{ product.description|safe }}
          </p>
        </article>
      {% endfor %}
    {% else %}
      <p class="contentitem">Die Online-Produktliste ist leer.</p>
    {% endif %}
  {% endblock product_body%}

{% endblock content %}
