/***********************************************************************\
  -base
\***********************************************************************/

body {
  margin: 0px;
  width: 100%;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-align: left;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/*h4 {
  font-size: 2.2em;
}

h5 {
  font-size: 2.1em;
}

h6 {
  font-size: 2em;
}*/


a {
  text-decoration: none;
  color: #55f;
}

a:hover {
  color: #77f;
}

a > h1, a > h2, a > h3, a > h4, a > h5, a > h6 {
  color: #444;
  border: 0px;
}

.list-unstyled {
  padding: 0px;
  margin: 0px;
}

.list-unstyled > li {
  list-style-type: none;
}

/***********************************************************************\
  -pagecontent
\***********************************************************************/

  main {
    position: relative;
    /* color: #fff; */
    color: #444;
    /*text-shadow: 0px -2px 30px #000;*/
    width: 100%;
  }

  .content {
    width: 60%;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 30px;
    padding-right: 5%;
    padding-bottom: 30px;
    padding-left: 5%;
  }

  .content > h1 {
    text-shadow: 0px -2px 30px #000;
    color: #fff;
    margin-top: 1.5em;
    margin-bottom 1.5em;
  }

  .contentitem{

  }

  .contentitemimage{
    width: 6em;
    margin-top: 1.5em;
    float: right;
    box-shadow: 0px -2px 20px #000;
  }

.contentitem {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  margin-top: 2em;
  margin-right: -2.5em;
  margin-bottom: 2em;
  margin-left: -2em;
  text-shadow: 0px 0px 24px #fff, 0px 0px 22px #fff, 0px 0px 20px #fff;
  background: rgba(255,255,255,0.66);
  border-radius: 10px;
}


/***********************************************************************\
  -sidebar
\***********************************************************************/

  .sidebarheader {
    /*text-shadow: 0px -2px 10px #000;*/
    color: #444;
    display: block;
    /*font-size: 2.625em; /*1.75*1.5*/
    font-size: 2.5em;
    margin: 50px 0px 30px 0px;
    padding: 0px;
    /*margin-top: -4em;*/
    z-index: 300;
    /*position: absolute;*/
  }

  .sidebaritem {
    /* color: #fff; */
    color: #444;
    display: block;
    /*font-size: 2.275em; /*1.75*1.3*/
    font-size: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    /*margin: 0em;

    margin-left: 13%;
    margin-right: 10%;*/
  }

  .sidebaritemsmall {
    /* color: #fff; */
    color: #444;
    display: block;
    font-size: 1.7em; /*1.75*1.15*/
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    /*margin: 0em;

    margin-left: 13%;
    margin-right: 10%;*/
  }

  .sidebartop {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .navlinks {
    display: inline-block;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
    width: 80%;
  }

  .sidebarbottom {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-left; 13%;
    margin-right:10%;
  }

  .sidebarfooter {
    margin-top: 10px;
    font-size: 0.75em;
  }

  .sidebar {
    z-index: 1;
    width: 25%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    text-align: right;
    text-shadow: 0px 0px 24px #fff, 0px 0px 22px #fff, 0px 0px 20px #fff;
    background: rgba(255,255,255,0.66);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }


/***********************************************************************\
  -products
\***********************************************************************/

ul.list-product-overview {
}

hr.productseparator {

  border: 1em;
  background-image: url('bg/shelf.png');

}

