{% extends "base.html" %}



{% block title_extra %}
  {% if flatpage.title %}
    - {{flatpage.title}}
  {% endif %}
{% endblock title_extra %}


{% block content %}
  <h1>{{flatpage.title}}</h1>
  <div class="contentitem">
    {{flatpage.content}}
  </div>
{% endblock content %}
